@model QRCodeModel

@{
    ViewData["Title"] = "Home Page";
}
@section Styles {
    <link rel="stylesheet" href="~/plugin/daterangepicker/daterangepicker.css">
}

<div class="text-center">
    <h1 class="display-4">Generate QR Code</h1>

</div>

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Home" asp-action="CreateQRCode">
            <input type="hidden" asp-for="UserId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-group">
               
                <input asp-for="ExpireDateTIme" type="text" value="@Model.ExpireDateTIme.ToString("yyyy-MM-dd hh:mm:ss")" class="form-control" id="datepicker">
                <span asp-validation-for="ExpireDateTIme" class="text-danger"></span>
            </div>
            <!-- /.input group -->
            <div class="form-group mt-2">
                <input type="submit" value="Generate QR Code" class="btn btn-primary text-center" />
            </div>
            <div class="form-group">

                <img src="@ViewBag.QrCodeUri" class="img-thumbnail" />
            </div>
        </form>
    </div>
</div>

@section scripts {

    <script src="~/plugin/moment/moment.min.js"></script>
    <script src="~/plugin/inputmask/jquery.inputmask.min.js"></script>
    <script src="~/plugin/daterangepicker/daterangepicker.js"></script>

    <script type="text/javascript">$(function () {

            var currentYear = new Date().getFullYear();

            $('#datepicker').daterangepicker({
                timePicker: true,
                singleDatePicker: true,
                showDropdowns: true,
                timePicker24Hour: true,
                locale: {
                    format: 'YYYY-MM-DD hh:mm:ss'
                }
            });

        });</script>

}


